<% content_for :addl_head_styles do %>

  .building-block-iframe{
    position:absolute;
    left:0;
    top:0;
    display:block;
    width:100%;
    min-height:100%
  }
  .building-block-iframe-wrapper{
    position:relative;
    min-height:480px;
    -webkit-overflow-scrolling:touch;
    overflow-y:scroll
  }
<% end %>
<div class="page-container">
  <%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

  <div class="building-block-preview">
    <div class="row align-center expanded building-block-iframe-wrapper">
      <iframe class="building-block-iframe" src="<%= venues_iframes_path(q: request.query_parameters[:q]) %>" frameborder="0"></iframe>
    </div>
  </div>
</div>

