<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @venue.permalink %>
</p>

<p>
  <strong>Category code:</strong>
  <%= @venue.category_code %>
</p>

<p>
  <strong>Portion size:</strong>
  <%= @venue.portion_size %>
</p>

<p>
  <strong>Cost code:</strong>
  <%= @venue.cost_code %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @venue.cuisine %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @venue.phone_number %>
</p>

<p>
  <strong>Entree range:</strong>
  <%= @venue.entree_range %>
</p>

<p>
  <strong>When to go:</strong>
  <%= @venue.when_to_go %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @venue.parking %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @venue.bar %>
</p>

<p>
  <strong>Wine list:</strong>
  <%= @venue.wine_list %>
</p>

<p>
  <strong>Dress:</strong>
  <%= @venue.dress %>
</p>

<p>
  <strong>Awards:</strong>
  <%= @venue.awards %>
</p>

<p>
  <strong>Breakfast hours:</strong>
  <%= @venue.breakfast_hours %>
</p>

<p>
  <strong>Lunch hours:</strong>
  <%= @venue.lunch_hours %>
</p>

<p>
  <strong>Dinner hours:</strong>
  <%= @venue.dinner_hours %>
</p>

<p>
  <strong>House specialties:</strong>
  <%= @venue.house_specialties %>
</p>

<p>
  <strong>Counter quality rating:</strong>
  <%= @venue.counter_quality_rating %>
</p>

<p>
  <strong>Counter value rating:</strong>
  <%= @venue.counter_value_rating %>
</p>

<p>
  <strong>Table quality rating:</strong>
  <%= @venue.table_quality_rating %>
</p>

<p>
  <strong>Table value rating:</strong>
  <%= @venue.table_value_rating %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @venue.overall_rating %>
</p>

<p>
  <strong>Service rating:</strong>
  <%= @venue.service_rating %>
</p>

<p>
  <strong>Friendliness rating:</strong>
  <%= @venue.friendliness_rating %>
</p>

<p>
  <strong>Thumbs up:</strong>
  <%= @venue.thumbs_up %>
</p>

<p>
  <strong>Adult breakfast menu url:</strong>
  <%= @venue.adult_breakfast_menu_url %>
</p>

<p>
  <strong>Adult lunch menu url:</strong>
  <%= @venue.adult_lunch_menu_url %>
</p>

<p>
  <strong>Adult dinner menu url:</strong>
  <%= @venue.adult_dinner_menu_url %>
</p>

<p>
  <strong>Child breakfast menu url:</strong>
  <%= @venue.child_breakfast_menu_url %>
</p>

<p>
  <strong>Child lunch menu url:</strong>
  <%= @venue.child_lunch_menu_url %>
</p>

<p>
  <strong>Child dinner menu url:</strong>
  <%= @venue.child_dinner_menu_url %>
</p>

<p>
  <strong>Requires credit card:</strong>
  <%= @venue.requires_credit_card %>
</p>

<p>
  <strong>Requires pre payment:</strong>
  <%= @venue.requires_pre_payment %>
</p>

<p>
  <strong>Extinct on:</strong>
  <%= @venue.extinct_on %>
</p>

<p>
  <strong>Opened on:</strong>
  <%= @venue.opened_on %>
</p>

<p>
  <strong>Disney permalink:</strong>
  <%= @venue.disney_permalink %>
</p>

<p>
  <strong>Code:</strong>
  <%= @venue.code %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @venue.short_name %>
</p>

<p>
  <strong>Accepts tiw:</strong>
  <%= @venue.accepts_tiw %>
</p>

<p>
  <strong>Accepts reservations:</strong>
  <%= @venue.accepts_reservations %>
</p>

<p>
  <strong>Kosher available:</strong>
  <%= @venue.kosher_available %>
</p>

<p>
  <strong>Location details:</strong>
  <%= @venue.location_details %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @venue.operator_id %>
</p>

<p>
  <strong>Operator url:</strong>
  <%= @venue.operator_url %>
</p>

<p>
  <strong>Operator type:</strong>
  <%= @venue.operator_type %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
