<%= render :partial => "svg_sprite"%>
<script>
  // show more text
  $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>

<style>
  .thumbnail {
    background-image:
    linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
    url("<%= image_path 'background-image' %>");

  }
  .guest-photo {
    min-height: 150px;
  }
  .guest-icon {
    min-height: 48px;
  }
  .slide {
    background-image:
    linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
    url("<%= image_path 'background-image' %>");
    min-height: 90%;    
  }

  /*show more text*/
  .morecontent span {
    display: none;
  }
  .morelink {
    display: block;
  }
</style>


<section>
    <p style="color: white">spacer</p>
        <%#= render :partial => 'name' %>

    
</section>

<section id="carousel">
<div class="news-image-gallery-container">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
           <% @photos.first(4).each do |image| %>
          <li class="is-active orbit-slide">
            <%= image_tag "#{image.prefix}914x457#{image.suffix}", alt: "Food", class: "slide" %>
            <figcaption class="orbit-caption">
              <svg class="icon"><use xlink:href="#foursquare_icon" /></svg>&nbsp;<%= "#{@venue.name}" %>
            </figcaption>
          </li>
          <% end -%>
 
        </ul>
        <nav class="orbit-bullets">
          <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
          <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
          <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
          <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns">
<!--       <div class="rounded-social-buttons">
        <a class="social-button facebook" href="#"></a>
        <a class="social-button twitter" href="#"></a>
        <a class="social-button linkedin" href="#"></a>
        <a class="social-button google-plus" href="#"></a>
      </div>
 -->      <div class="clearfix"></div>
          <%= render :partial =>  'venue_info_section' %>

<!--       <h4 class="news-image-gallery-title">Extraterrestrial culture: How we express ourselves through space exploration</h4>
      <p>
        This is not a new thing. Terrestrial cultures have (always) had a degree of extraterrestrial-ity in them. Cultural astronomers and archeoastronomers...
        <a href="#" class="read-more">
          Read More
        </a>
      </p>
 -->    </div>
  </div>
</div>


</section>

<div class="main-content">
  <section class="tips">
    <div class="row column text-center">
      <hr />
      <h2>Guest Tips</h2>

      <hr />
    </div>
        <div class="row column">
      <%= render partial: "tip", collection: @tips.first(10) %>
    </div>
  </section>
         

  <!--  -->
  <% if @venue.dfb_articles.count.to_i > 2 %>

  <section id="bloggings">
    <%= render 'bloggings' %>

  </section>
  <% end %>

    <div class="row column text-center">
      <hr />
      <h2>Guest Photos</h2>
      <hr>
      <%= render :partial => "guest_photo_gallery" %>
    </div>


      <hr>
</div>
    <%#= render :partial => "guest_comments" %>
    <%= render :partial => "callout_large_secondary" %>
