<section>
    <p style="color: white">spacer</p>
</section>
        <section class="gallery">
            <ul>
                <% @photos.first(4).each do |image| %>
                    
                <li class="block">
                    <%= image_tag "#{image.prefix}400x200#{image.suffix}" %>
                </li>
                    
                <% end %>
            </ul>
        </section>
    <section>
        <%#= render :partial => 'name' %>

    <%= render :partial =>  'venue_info_section' %>
    
    </section>

<section class="main-content">
    <div class="photos-and-tips">
        <div class="cards">
                <% @photos.first(10).each do |image| %>
                
                  <div class="card">
                    <div class="card-image">
                        <%= image_tag "#{image.prefix}600x600#{image.suffix}" %>
                    </div>
                    <div class="card-header" >

                      <%= image_tag "#{image.user_icon}", size: "48x48" %> <%= "#{image.foursquare_user_name}" %>
                    </div>
                    <div class="card-copy">
                    <!-- <%= image_tag "#{image.user_icon}", size: "48x48" %> <%= "#{image.foursquare_user_name}" %> -->
                    
                    </div>
                  </div>
                    
                <% end %>

            </div>
            
        <div class="tips">
            
            <%= render partial: "tip", collection: @tips.first(10) %>
        </div>
       
    </div>
    <div class="sidebar">
        <%= render 'recommendations' %>

        <%= render  'menus' %>

        <%= render 'bloggings' %>
        <%= render 'you_might_also_like' %>

        <%= render 'when_to_pay' %>

        <%= render :partial => 'tables_in_wonderland' %>

    </div>
</section>


