<%# provide(:title, @venue.name) %>
<!doctype html>
<html class="no-js" lang="en">
  <%= render :partial => "head" %>
  <body>

 <div class="grid-container">
    <%= render :partial => "top_bar" %>
    <%= render "flashes" -%>
   
    <%= yield %>
    <%#= render :partial => "footer" %>

      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
      <%= render "javascript" %>
      <script>
        $(document).foundation();
      </script>
    </div>
  </body>
</html>
